@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

* {
  font-family: "MuseoModerno", "Gill Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #798dff;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #e96325;
}

.seat.coronavirus {
  background-color: #e43fd6;
}

h2 {
  font-size: 12px;
}

.bigtext {
  font-size: 20px;
  color: #e96325;
}

.row {
  display: flex;
}
