@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

* {
  font-family: "MuseoModerno", "Gill Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #242333;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #530a85;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #ffffff;
}

.seat.coronavirus {
  background-color: #e43fd6;
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}
.seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.seat:not(.occupied):not(.coronavirus):hover {
  cursor: pointer;
  transform: scale(1.5);
}
.showcase .seat:not(.occupied),
.seat:not(.coronavirus),
:hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

h2 {
  font-size: 12px;
  text-align: center;
  padding: 30px;
}
